{% extends 'base.html' %}

{% block title %}书籍主页{% endblock %}

{% block content %}
    <h3>推荐书籍</h3>
    <div class="row">
        {% for book in books %}
            <div class="col-sm-2 col-xs-4 text-center">
                <a href="{% url 'book_detail' book.id %}">
                    <img src="{{book.pic}}" alt="照片无法显示" class="img-responsive lazyload img" />
                    <p class="text-center">
                        <span class="book-title" style="color:#444">
                            {%if book.title|length >= 8 %}
                            {{book.title|slice:'6'}} ...
                            {%else%}
                            {{book.title}}
                            {%endif%}
                        </span>
                    </p>
                </a>
                <p class="text-center book-rating">
                    <span class="label label-primary">评分: {{book.rate}}</span>
                </p>
    		</div>
        {% endfor %}
    </div>

{% endblock %}

{% block sidebar %}
<div class="col-sm-12">
				<div class="sidebar">
                    <div class="sidebar_cell">
                        <div class="sidebar_cell_title"><span class=""><h3>类型</h3></span></div>
                        <div class="sidebar_cell_list">
                            <a href="{% url 'book_genre' '名著' %}">名著</a>
                            <a href="{% url 'book_genre' '小说' %}">小说</a>
                            <a href="{% url 'book_genre' '古典文学' %}">古典文学</a>
                            <a href="{% url 'book_genre' '童话' %}">童话</a>
                            <a href="{% url 'book_genre' '散文' %}">散文</a>
                            <a href="{% url 'book_genre' '诗歌' %}">诗歌</a>
                            <a href="{% url 'book_genre' '历史' %}">历史</a>
                            <a href="{% url 'book_genre' '军事' %}">军事</a>
                            <a href="{% url 'book_genre' '电影' %}">电影</a>
                            <a href="{% url 'book_genre' '互联网' %}">互联网</a>
                            <a href="{% url 'book_genre' '金融' %}">金融</a>
                            <a href="{% url 'book_genre' '广告' %}">广告</a>
                            <a href="{% url 'book_genre' '科技' %}">科技</a>
                            <a href="{% url 'book_genre' '武侠' %}">武侠</a>
                            <a href="{% url 'book_genre' '科幻' %}">科幻</a>
                            <a href="{% url 'book_genre' '推理' %}">推理</a>
                            <a href="{% url 'book_genre' '言情' %}">言情</a>
                            <a href="{% url 'book_genre' '穿越' %}">穿越</a>
                        </div>
                </div>
			</div>
{% endblock %}