{% extends 'movie_base.html' %}

{% block title %}电影标签搜索结果{% endblock %}

{% block content %}

    {% if not movies %}
        <body>
            <h1>没有搜索结果哦</h1>
        </body>
    {% endif %}

    {% if movies %}
        {%for movie in movies%}
            <body>
                <div class="container" >
                    <div class="row">
                        <div class="col-sm-8">
                            <h3>{{ movie.title }}</h3>
                            <br>
                            <div class="col-md-3 col-sm-5 col-xs-6">
                                <a href="{% url 'movie_detail' movie.id %}" data-gallery-id="gallery-1">
                                    <img src="{{ movie.image }}" alt="照片无法显示" class="img-responsive lazyload movie-img" />
                                </a>
                            </div>
                            <div class="col-md-6 col-xs-6 col-md-offset-1">
                                <p>
                                    导演：{{ movie.directors }}<br>
                                    演员：{{ movie.casts }}<br>
                                    评分：{{ movie.rating }}<br>
                                    拍摄时间：{{ movie.year }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </body>
        {% endfor %}
    {% endif %}

{% endblock %}
